.container{
    width: 100vw;
    height: 100vh;
    margin: 0;

    .galleryContainer{
        width: 100%;
        height: 15%;
        margin: 0;

    }

    main{
        width: 100%;
        height: 85%;;
        margin: 0;

        // flex
        display: flex;

        .canvasContainer{
            width: 80%;
            height: 100%;
            margin: 0;

        }


        .controlUIContainer{
            width: 20%;
            height: 100%;
            margin: 0;

        }
    }
}